{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container ">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Choose Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            {% for category in cate %}
            <a aria-current="true" href="/home/?category={{category.id}}" class="list-group-item list-group-item-action">
              {{category.name}}
            </a>
            {% endfor %}
          </li>
        </ul>
      </div>
      

</div>
{% endblock content %}