{% extends 'base.html' %}
{% block title %}Registration{% endblock title %}
{% block contenct %}
<div class='container mydiv'>
    <div class='mx-5 px-10 row-1'>
    </div>
    <div class='mx-5 px-10 mycss'>
        <center><strong><p>Log in with you account</p></strong></center>
        <form methode="post" class="d-flex"  action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="mb-3">
                <input type="email" placeholder='Email address' class="form-control"  name="emailflied" id="exampleInputEmail1" aria-describedby="emailHelp">
                

            </div>
            <div class="mb-3">
                <input type="password" placeholder='Password' class="form-control" name="passwordfield" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button><br>
            <a class="item" href= {% url 'reg' %}>Create New Account</a>
    </form>
    </div>
</div>
{% endblock contenct %}
